# Git Attributes
*.bmp           binary
*.c             text
*.csv           text
*.filters       text eol=crlf
*.h             text
*.html          text
*.ico           binary
*.json          text
*.manifest      text eol=crlf
*.md            text
*.ods           binary
*.png           binary
*.rc            text eol=crlf working-tree-encoding=utf-16le-bom
*.sln           text eol=crlf
*.svg           text
*.ui            text diff=xml
*.vcxproj       text eol=crlf
*.xml           text
Doxyfile        text
LICENSE         text
Makefile        text
