<?xml version="1.0" encoding="utf-8"?>
<interface>
	<menu id="menu">
		<submenu>
			<attribute name="label">_File</attribute>
			<section>
				<item>
					<attribute name="action">win.new</attribute>
					<attribute name="label">_New...</attribute>
				</item>
				<item>
					<attribute name="action">win.open</attribute>
					<attribute name="label">_Open...</attribute>
				</item>
			</section>
			<section>
				<item>
					<attribute name="action">win.save</attribute>
					<attribute name="label">_Save</attribute>
				</item>
				<item>
					<attribute name="action">win.save-as</attribute>
					<attribute name="label">Save _as...</attribute>
				</item>
			</section>
			<section>
				<item>
					<attribute name="action">win.print</attribute>
					<attribute name="label">_Print...</attribute>
				</item>
				<item>
					<attribute name="action">win.page-setup</attribute>
					<attribute name="label">Page Set_up...</attribute>
				</item>
			</section>
			<section>
				<item>
					<attribute name="action">win.close</attribute>
					<attribute name="label">_Quit</attribute>
				</item>
			</section>
		</submenu>
		<submenu>
			<attribute name="label">_Edit</attribute>
			<section>
				<item>
					<attribute name="action">win.undo</attribute>
					<attribute name="label">_Undo</attribute>
				</item>
				<item>
					<attribute name="action">win.redo</attribute>
					<attribute name="label">_Redo</attribute>
				</item>
			</section>
			<section>
				<item>
					<attribute name="action">win.cut</attribute>
					<attribute name="label">C_ut</attribute>
				</item>
				<item>
					<attribute name="action">win.copy</attribute>
					<attribute name="label">_Copy</attribute>
				</item>
				<item>
					<attribute name="action">win.paste</attribute>
					<attribute name="label">_Paste</attribute>
				</item>
			</section>
			<section>
				<item>
					<attribute name="action">win.select-all</attribute>
					<attribute name="label">Se_lect All</attribute>
				</item>
			</section>
		</submenu>
		<submenu>
			<attribute name="label">_Help</attribute>
			<section>
				<item>
					<attribute name="action">win.about</attribute>
					<attribute name="label">_About</attribute>
				</item>
			</section>
		</submenu>
	</menu>
</interface>
